.img-car img{
    width: 400px;
    height: 250px;
}
.home{
    position: absolute;
    top: 30px;
    left: 50px;
    border-radius: 20px;
}
.list-group-item, .list-group{
    background-color: transparent;
}
.left{
    width: 75%;
}
.right{
    width: 90%;
}