.code{
    background-color: black;
    color: grey;
    border-radius: 5px;
    padding: 2px 10px;
}
.code li{
    list-style: none;
}
.cmd{
    color: green;
}
.expl{
    background-color: lightcoral;
    border-radius: 1px;
}
.info{
    padding: 10px;
    border-radius: 5px;
}